{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div class="card-group">
		{% for photo in object_list %}
			<!-- TODO notes last msg https://stackoverflow.com/questions/35288793/django-media-url-tag -->
			<div class="card">
				<img class="card-img-top" src="{{ photo.image.url }}" alt="some alt">
				<div class="card-body">
					<p class="card-text">{{ photo.description }}</p>
					<p class="card-text">comment sum: {{ photo.comment_set.all.count }}</p>

					<div class="container">
					  <div class="row align-items-center">
						<div class="col-sm-9">
							{% if photo.voice %}
								{{ photo.voice.counter }}
							{% else %}
								has not voice yet
							{% endif %}
						</div>
						<div class="col-sm-3">
							<input id="voice-{{ photo.id }}" class="voice" type="image" src="{% static 'like.png' %}" name="image" data-id="{{ photo.id }}" width="30" height="30">
						</div>
					  </div>
					</div>

					<ul>
					{% for tag in photo.tag_set.all %}
						<li id="{{ forloop.counter0 }}">tag:{{ tag.name }}</li>
					{% empty %}
						<li id="tag-empty">photo has not tags</li>
					{% endfor %}
					</ul>

					<ul>
					{% for category in photo.category_set.all %}
						<li id="{{ forloop.counter0 }}">category:{{ category.name }}</li>
					{% empty %}
						<li id="category-empty">photo has not categories</li>
					{% endfor %}
					</ul>
					
				</div>
			<!-- TODO render empty voice and after increment	 -->
			</div>
		{% empty %}
			<li>No photo yet.</li>
		{% endfor %}
	</div>
{% endblock content %}

{% block external_js %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$('body').on('click', '.voice', function() {
			var dataId = this.getAttribute("data-id"),
				csrf_token = "{{ csrf_token }}",
				url = "{% url 'photos:voice-add' %}"
				params = {
					photo: dataId,
					csrfmiddlewaretoken: csrf_token,
					counter: 1,
				}
			console.log(this.id);
				$.post(url, params, function(data, status){
			        console.log("Data: " + data + "\nStatus: " + status);
			    });
		});

	</script>
{% endblock external_js %}