{% extends 'base.html' %}
{% load static %}

{% block content %}
	<div id="card-vue" class="card-group">
		{% for photo in object_list %}
			<!-- TODO notes last msg https://stackoverflow.com/questions/35288793/django-media-url-tag -->
			<div class="card">
				<img class="card-img-top" src="{{ photo.image.url }}" alt="some alt">
				<div class="card-body">
					<p class="card-text">{{ photo.description }}</p>
					<p class="card-text">comment sum: {{ photo.comment_set.all.count }}</p>

					<div class="container">
					  <div class="row align-items-center">
						<div id="voice-counter-js-{{ photo.id }}" class="col-sm-9">
							{% if photo.counter %}
								{{ photo.counter }}
							{% else %}
								has not voice yet
							{% endif %}
						</div>
						<div class="col-sm-3">
							<input id="voice-{{ photo.id }}" class="with-out-like voice" type="image" src="{% static 'like.png' %}" name="image" data-id="{{ photo.id }}" width="30" height="30">
						</div>
					  </div>
					</div>

					<ul>
					{% for tag in photo.tag_set.all %}
						<li id="{{ forloop.counter0 }}">tag:{{ tag.name }}</li>
					{% empty %}
						<li id="tag-empty">photo has not tags</li>
					{% endfor %}
					</ul>

					<ul>
					{% for category in photo.category_set.all %}
						<li id="{{ forloop.counter0 }}">category:{{ category.name }}</li>
					{% empty %}
						<li id="category-empty">photo has not categories</li>
					{% endfor %}
					</ul>
					
				</div>
			<!-- TODO render empty voice and after increment	 -->
			</div>
		{% empty %}
			<li>No photo yet.</li>
		{% endfor %}
		<!-- TODO create api -->
		<br>
		<div style="display: none" v-for="item in object_list">
			[[ item ]]
		</div>
	</div>
{% endblock content %}

{% block external_js %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		$(document).ready ( function(){
			var url = "{% url 'photos:get-voice-class-status' %}";
			$.get(url, function(data, status){
				for (var photoId in data.res) {
					if (data.res.hasOwnProperty(photoId)) {
						if (data.res[photoId]) {
							var id = "#voice-" + photoId,
								input = $(id);
								input.removeClass('with-out-like')
							
						}

					}
				}

			});
		});
		$('body').on('click', '.voice', function() {
			var dataId = this.getAttribute("data-id"),
				self = $(this),
				// csrf_token = "{{ csrf_token }}",
				url = "{% url 'photos:add-voice' %}",
				params = {
					photo_id: dataId,
				};
			$.get(url, params, function(data, status){
				self.toggleClass('with-out-like')
				var id = '#voice-counter-js-' + dataId,
					input = $(id);
				input.html(data.res)
			});
		});

	</script>
	<script>
		// just for test
		Vue.config.delimiters = ["[[","]]"]
		var demo = new Vue({

			el: '#card-vue',
			data: {
				'object_list': [ {% for photo in object_list %} "{{ photo.description }}", {% endfor %} ]
			},
		});
	</script>
{% endblock external_js %}